body{
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    background-color: rgb(16, 172, 42);
    padding: 6px 10px;
    transform: skew(-15deg);
}
.countdown-container{
    display: flex;
    border: 5px solid rgb(213, 203, 203);
    border-radius:5px;
    width: 200px;
    height: 100px;
}
.com{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(171, 164, 164);
    font-size: 55px;
    text-align: center;
}
.com span{
    font-size: 14px;
    text-align: left;
}
.timeup{
    font-size: 40px;
}
p, .timeup{
    display: flex;
    justify-content: center;
    align-items: center;
}